<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto quasi consequatur dignissimos, eos harum nemo assumenda iusto aut dolorem? Vero quas vitae iure nostrum eligendi atque quasi similique ut maiores.
        Debitis porro inventore autem quisquam reprehenderit fugiat quod aliquid, libero animi accusamus. Neque molestias soluta esse, porro deleniti natus facere vero veniam, quam perferendis sit voluptatum quia dolor adipisci sed!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione officia excepturi fugit earum tempore ducimus, impedit porro cumque. Nobis velit quisquam aut rem natus quia beatae a excepturi sint ex.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>